.button {
    width: 115px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    letter-spacing: 4px;
    transition: transform 0.1s ease, background-color 0.2s ease, color 0.2s ease;
}

.button:active {
    transform: scale(0.95);
}

.button.cancel {
    background-color: #D9D9D9;
    color: #333333;
}

.button.cancel:hover {
    background-color: #dc143c0c;
}

.button.submit {
    background-color: #DC143C;
}

.button.submit:hover {
    background-color: #800020; 
}

.button.submit.inactive {
    background-color: #800020 !important;  /* Make sure the background is always maroon */
    cursor: not-allowed; /* Show disabled cursor */
    transform: none; /* Disable scaling on click */
    opacity: 0.7; /* Make button appear less prominent */
}