.event-item {
  position: relative;
  margin-bottom: 15px;
}

.selected-event {
  background-color: #FDECEC;
  scale: 1.01;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.event-logo {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
}

.event-info {
  font-size: 10pt;
  letter-spacing: 4pt;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 0 15px 5px;
  margin-bottom: 0px;
}

.event-info p {
  margin-top: 3px;
  margin-bottom: 0px;
}

.event-title {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  width: 100%;
}

.host-name {
  font-weight: bold;
}

.add-remove-icon {
  position: absolute;
  bottom: 15px; 
  right: 10px; 
  width: 20px; 
  height: 20px; 
}