.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header-title {
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: 10pt;
  font-weight: 400;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333f7;
  padding-top: 60px; 
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-menu.open {
  opacity: 1;
  transform: translateY(0);
}

.nav-close-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu li {
  margin: 10px 0;
}

.nav-menu li a {
  color: #FDF3E7;
  text-decoration: none;
  font-size: 24px;
}

.nav-menu li.active a {
  color: #9f9f9f; 
  pointer-events: none; 
}