.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  height: 45px;
  z-index: 10000;
}

.headerIcon {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
}

.guestHeader {
  background-color: white;
  color: #800020; /* Text/icon color for guests */
}

.guestHeader .headerIcon {
  filter: invert(23%) sepia(94%) saturate(748%) hue-rotate(356deg) brightness(97%) contrast(88%);
}

.hostHeader {
  background-color: #800020;
  color: white; /* Text/icon color for hosts */
}

.hostHeader .headerIcon {
  filter: brightness(0) invert(1); /* Example filter for host icon */
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333f7;
  padding-top: 60px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.open {
  opacity: 1;
  transform: translateY(0);
}

.navCloseIcon {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.navMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navMenu li {
  margin: 10px 0;
}

.navMenu li a {
  color: #FDF3E7;
  text-decoration: none;
  font-size: 24px;
}

.active a {
  color: #9f9f9f;
  pointer-events: none;
}