.homeImage {
  width: calc(100% + 20px);
  height: 230px;
  object-fit: cover;
  object-position: bottom;
  padding-top: 30px;
  filter: grayscale(0%) sepia(100%) hue-rotate(-72deg) saturate(410%);
  margin-left: -10px;
}

.tagline {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 4px;
  text-align: center;
  margin: 40px 0; 
}

.tagline p {
  font-size: 16px;
  margin-top: 20px;
  color: #333333;
}

.homeButtonContainer {
  display: flex;
  justify-content: center; 
  gap: 30px;
  padding-top: 10px; 
}