.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px 0px 5px;
  }
  
  .profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2, h3 {
    margin: 5px 0 0 0;
  }

  .profileHeader, h3 {
    font-size: 15px;
    letter-spacing: 2px;
  }
  
  .profileImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 0 10px 0px 10px;
  }
  
  .profileImage img {
    width: 30vw;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .profileDetails {
    padding: 0 10px;
    width: 100%;
    max-width: 600px;
  }
  
  /* Application Details */
  .profileDetails h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .appQuestionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  
  /* Responsive styles */
  @media (max-width: 600px) {  
    .editableSectionTextarea,
    .editableSectionInput {
      width: calc(100% - 10px);
    }
  }