:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

.safe-area {
  padding-top: var(--safe-area-inset-top);
  padding-bottom: var(--safe-area-inset-bottom);
  min-height: 100vh;
}

.content-area {
  padding: 50px 10px 0 10px;
  min-height: 100vh;
}

h1, h2 {
  font-size: 16px;
  text-align: center;
  letter-spacing: 4px;
}

h1 {
  font-weight: bold;
  margin-bottom: 0px;
}

h2 {
  font-weight: 400;
  margin: 0;
  padding: 0 10px;
  color: #800020;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 5px;
  color: #800020;
}

p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2.5px;
  margin-top: 0;
}
