:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.safe-area {
  padding-top: var(--safe-area-inset-top);
  padding-bottom: var(--safe-area-inset-bottom);
  min-height: 100vh;
}

.content-area {
  padding-top: 10px;
  min-height: 100vh;
}