/* styles.css */
html {
  background: #800020;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #800020;
    color: #FDF3E7;
    /* min-height: 100vh; */
    /* background-attachment: fixed; 
    background-size: cover; */
  }
  
  .header, .logo, .title, .events-container, .event-list, .event-item, .event-details, .event-host, .event-name, .event-time, .event-date, .event-hour {
    /* Global styles for these elements/components */
  }