.user-nav-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 30px 0;
    background-color: #800020; /* Adjust this color to fit your theme */
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7); /* Adjust this color to fit your theme */
  }
  
  .nav-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  
  .nav-item.active {
    color: #fff; /* Adjust this color to fit your theme */
  }
  
  .nav-item.active img {
    opacity: 1;
  }
  
  .nav-item img {
    opacity: 0.6;
  }
  
  .nav-item.active img {
    opacity: 1;
  }